In [1]:
import pandas as pd
import numpy as np
import datetime

# Load 
## Covid-19 data

In [2]:
OxCGRT = pd.read_csv("https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv")
OxCGRT.loc[:,'Date'] = pd.to_datetime(OxCGRT.Date, format='%Y%m%d')

C:\Users\37125\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Region data

In [3]:
regions = pd.read_csv("https://datahub.io/JohnSnowLabs/country-and-continent-codes-list/r/country-and-continent-codes-list-csv.csv")

Merge continent names to the main data set (merge on country code)

In [13]:
regions = regions[["Three_Letter_Country_Code","Continent_Name"]]
data = pd.merge(OxCGRT, regions, how='left', left_on='CountryCode', right_on='Three_Letter_Country_Code')
data = data.drop(columns=['Three_Letter_Country_Code'])

### Calculate summary by continents and globally

Get world and continent data by dates:
- Total Confirmed Cases
- Total Confirmed Deaths
- Average Stringency Index
- Average Government Response Index
- Average Containment Health Index
- Average Economic Support Index

!NB results may seem different from other sources because those sources are based on John Hopkins data, but here Oxford data is used

In [14]:
# By continents
data_continent = pd.pivot_table(data[(data.Jurisdiction=="NAT_TOTAL")],
               values=["ConfirmedCases","ConfirmedDeaths","StringencyIndexForDisplay","GovernmentResponseIndexForDisplay",
                       "ContainmentHealthIndexForDisplay","EconomicSupportIndexForDisplay"],
               index=["Date","Continent_Name"], 
               aggfunc={"ConfirmedCases":np.sum,
                        "ConfirmedDeaths":np.sum,
                        "StringencyIndexForDisplay":np.mean,
                        "GovernmentResponseIndexForDisplay":np.mean,
                        "ContainmentHealthIndexForDisplay":np.mean,
                        "EconomicSupportIndexForDisplay":np.mean}
              ).reset_index()
# World
data_world = pd.pivot_table(data[(data.Jurisdiction=="NAT_TOTAL")],
               values=["ConfirmedCases","ConfirmedDeaths","StringencyIndexForDisplay","GovernmentResponseIndexForDisplay",
                       "ContainmentHealthIndexForDisplay","EconomicSupportIndexForDisplay"],
               index=["Date"], 
               aggfunc={"ConfirmedCases":np.sum,
                        "ConfirmedDeaths":np.sum,
                        "StringencyIndexForDisplay":np.mean,
                        "GovernmentResponseIndexForDisplay":np.mean,
                        "ContainmentHealthIndexForDisplay":np.mean,
                        "EconomicSupportIndexForDisplay":np.mean}
              ).reset_index()
data_world.loc[:,"Continent_Name"] = "World"

# Concatenate
data_summary = pd.concat([data_continent,data_world]).reset_index(drop=True)

# Preview
data_summary[data_summary.Date=="2021-03-28"]

,Date,Continent_Name,ConfirmedCases,ConfirmedDeaths,ContainmentHealthIndexForDisplay,EconomicSupportIndexForDisplay,GovernmentResponseIndexForDisplay,StringencyIndexForDisplay
2712,2021-03-28,Africa,4172344.0,111716.0,49.351579,22.697368,46.019211,47.970513
2713,2021-03-28,Asia,32309854.0,517063.0,58.427097,44.354839,56.667742,57.452258
2714,2021-03-28,Europe,42858387.0,937960.0,66.267941,61.029412,65.612941,65.672059
2715,2021-03-28,North America,35008288.0,803927.0,61.086667,49.166667,59.598000,60.091333
2716,2021-03-28,Oceania,44841.0,1116.0,41.160000,40.000000,40.703333,40.353333
2717,2021-03-28,South America,20809231.0,540704.0,65.753333,64.062500,65.001111,68.827778
3218,2021-03-28,World,135287117.0,2914297.0,57.872164,44.128788,56.118582,57.108889

### Clean covid-19 data

Remove extra columns and rows (countries with atypical data)

In [15]:
columns_of_interest = ['CountryName', 'CountryCode', 'Continent_Name', 'Date', 'ConfirmedCases', 'ConfirmedDeaths',
                       'C1_School closing','C2_Workplace closing','C3_Cancel public events',
                       'C4_Restrictions on gatherings', 'C5_Close public transport','C6_Stay at home requirements',
                       'C7_Restrictions on internal movement','C8_International travel controls',
                       'E1_Income support','E2_Debt/contract relief', 'E3_Fiscal measures','E4_International support', 
                       'H1_Public information campaigns','H2_Testing policy', 'H3_Contact tracing','H4_Emergency investment in healthcare', 
                       'H5_Investment in vaccines','H6_Facial Coverings', 'H7_Vaccination policy', 'H8_Protection of elderly people', 
                       'M1_Wildcard',
                       'StringencyIndex','StringencyIndexForDisplay','StringencyLegacyIndex','StringencyLegacyIndexForDisplay', 
                       'GovernmentResponseIndex','GovernmentResponseIndexForDisplay', 
                       'ContainmentHealthIndex','ContainmentHealthIndexForDisplay', 
                       'EconomicSupportIndex','EconomicSupportIndexForDisplay']
excluded_countries = ['United Kingdom','Canada','Brazil','United States', # because have npi data only by regions
                      'Kosovo', 'Taiwan','Eritrea'] # No population data

data = data[~data.CountryName.isin(excluded_countries)][columns_of_interest]

In [16]:
data.head(3)

,CountryName,CountryCode,Continent_Name,Date,ConfirmedCases,ConfirmedDeaths,C1_School closing,C2_Workplace closing,C3_Cancel public events,C4_Restrictions on gatherings,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,North America,2020-01-01,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,North America,2020-01-02,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,North America,2020-01-03,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Population data

In [17]:
# Source: https://data.worldbank.org/indicator/SP.POP.TOTL
population = pd.read_csv("data/population.csv",skiprows=4)
population = population[["Country Code","2019"]]

# Calculate continent summary
population_summary = pd.merge(population, regions, how='left', left_on='Country Code', right_on='Three_Letter_Country_Code')
population_summary = population_summary.drop(columns=['Three_Letter_Country_Code'])
population_summary = population_summary.groupby("Continent_Name").sum().reset_index()
population_summary = pd.concat([population_summary,
                                pd.DataFrame(data={"Continent_Name":"World",
                                                   "2019":[population_summary["2019"].sum()]})])

# Get country names from 'data' table to ensure identical naming
population = pd.merge(population, data[['CountryCode','CountryName']].drop_duplicates(),
                      left_on='Country Code', right_on='CountryCode')
population = population[["CountryName","2019"]].set_index("CountryName")
population.index.name = None

In [18]:
population.head(3)

                   2019
Aruba          106314.0
Afghanistan  38041754.0
Angola       31825295.0

In [19]:
population_summary

  Continent_Name          2019
0         Africa  1.302819e+09
1           Asia  4.686780e+09
2         Europe  8.643194e+08
3  North America  5.853165e+08
4        Oceania  4.239802e+07
5  South America  4.270633e+08
0          World  7.908696e+09

## Tests data

In [20]:
tests = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/testing/covid-testing-all-observations.csv")

In [21]:
tests.loc[:,~tests.columns.isin(["Entity","Source URL","Source label","Notes"])].head(3)

,ISO code,Date,Daily change in cumulative total,Cumulative total,Cumulative total per thousand,Daily change in cumulative total per thousand,7-day smoothed daily change,7-day smoothed daily change per thousand,Short-term positive rate,Short-term tests per case
0,ALB,2020-02-25,8.0,8.0,0.003,0.003,NaN,NaN,NaN,NaN
1,ALB,2020-02-26,5.0,13.0,0.005,0.002,NaN,NaN,NaN,NaN
2,ALB,2020-02-27,4.0,17.0,0.006,0.001,NaN,NaN,NaN,NaN

In [22]:
tests.loc[:,'Date'] = pd.to_datetime(tests.Date, format='%Y-%m-%d')
tests = tests.loc[:,tests.columns.isin(["ISO code","Date","Cumulative total","Daily change in cumulative total"])]
data = pd.merge(data, tests, how='left', left_on=["CountryCode","Date"], right_on=["ISO code","Date"])
data = data.drop(columns=['ISO code'])
data = data.rename(columns={"Cumulative total":"CumulativeTests", "Daily change in cumulative total":"DailyTests"})

Continent summary

In [23]:
tests_summary = pd.merge(tests, regions, how='left', left_on='ISO code', right_on='Three_Letter_Country_Code')
tests_summary = tests_summary.drop(columns=['Three_Letter_Country_Code'])
tests_summary = tests_summary.groupby(["Date","Continent_Name"])["Cumulative total"].sum().reset_index()
tests_world = tests_summary.groupby("Date")["Cumulative total"].sum().reset_index()
tests_world.loc[:,"Continent_Name"] = "World"
tests_summary = pd.concat([tests_summary, tests_world]).reset_index(drop=True)
tests_summary = tests_summary.rename(columns={"Cumulative total":"CumulativeTests"})

In [24]:
tests_summary[tests_summary.Date=='2021-03-25']

           Date Continent_Name  CumulativeTests
2593 2021-03-25         Africa     2.108902e+07
2594 2021-03-25           Asia     5.566542e+08
2595 2021-03-25         Europe     5.621907e+08
2596 2021-03-25  North America     4.116593e+08
2597 2021-03-25        Oceania     1.723915e+07
2598 2021-03-25  South America     3.455461e+07
3093 2021-03-25          World     1.603387e+09

In [25]:
for continent in tests_summary.Continent_Name.unique():
    population_100K = population_summary[population_summary.Continent_Name == continent]["2019"].values / 100000
    
    tests_summary.loc[tests_summary.Continent_Name==continent, "CumulativeTests_100K"]\
        = tests_summary[tests_summary.Continent_Name==continent].CumulativeTests \
        / population_100K
tests_summary[tests_summary.Date=='2021-03-25']

           Date Continent_Name  CumulativeTests  CumulativeTests_100K
2593 2021-03-25         Africa     2.108902e+07           1618.721818
2594 2021-03-25           Asia     5.566542e+08          11877.113881
2595 2021-03-25         Europe     5.621907e+08          65044.330906
2596 2021-03-25  North America     4.116593e+08          70331.056338
2597 2021-03-25        Oceania     1.723915e+07          40660.261006
2598 2021-03-25  South America     3.455461e+07           8091.215985
3093 2021-03-25          World     1.603387e+09          20273.720243

Update `data_summary`

In [17]:
#data_summary = pd.merge(data_summary, tests_summary)

## Vaccination data

In [26]:
vaccine = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv")

In [27]:
vaccine.head(2)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [28]:
vaccine.loc[:,'date'] = pd.to_datetime(vaccine.date, format='%Y-%m-%d')
vaccine = vaccine.loc[:,vaccine.columns.isin(["iso_code","date","daily_vaccinations","total_vaccinations","people_vaccinated"])]
data = pd.merge(data, vaccine, how='left', left_on=["CountryCode","Date"], right_on=["iso_code","date"])
data = data.drop(columns=["iso_code","date"])
data = data.rename(columns={"daily_vaccinations":"DailyVaccine", "total_vaccinations":"CumulativeVaccine",
                           "people_vaccinated":"PeopleVaccinated"})

Continent summary

In [29]:
vaccine_summary = pd.merge(vaccine, regions, how='left', left_on='iso_code', right_on='Three_Letter_Country_Code')
vaccine_summary = vaccine_summary.drop(columns=['Three_Letter_Country_Code'])
vaccine_summary = vaccine_summary.groupby(["date","Continent_Name"])[["total_vaccinations","people_vaccinated"]].sum().reset_index()
vaccine_world = vaccine_summary.groupby("date")[["total_vaccinations","people_vaccinated"]].sum().reset_index()
vaccine_world.loc[:,"Continent_Name"] = "World"
vaccine_summary = pd.concat([vaccine_summary, vaccine_world]).reset_index(drop=True)
vaccine_summary = vaccine_summary.rename(columns={"daily_vaccinations":"DailyVaccine", "total_vaccinations":"CumulativeVaccine",
                                                  "people_vaccinated":"PeopleVaccinated"})
vaccine_summary[vaccine_summary.date=='2021-03-25']

          date Continent_Name  CumulativeVaccine  PeopleVaccinated
507 2021-03-25         Africa          8318813.0         5243601.0
508 2021-03-25           Asia        201791348.0        75282472.0
509 2021-03-25         Europe        104917433.0        78373583.0
510 2021-03-25  North America        144733992.0        96967836.0
511 2021-03-25        Oceania           408410.0               0.0
512 2021-03-25  South America         32372628.0        24149441.0
675 2021-03-25          World        492542624.0       280016933.0

In [30]:
for continent in vaccine_summary.Continent_Name.unique():
    population_100K = population_summary[population_summary.Continent_Name == continent]["2019"].values / 100000
    
    vaccine_summary.loc[vaccine_summary.Continent_Name==continent, "CumulativeVaccine_100K"]\
        = vaccine_summary[vaccine_summary.Continent_Name==continent].CumulativeVaccine \
        / population_100K
    
    vaccine_summary.loc[vaccine_summary.Continent_Name==continent, "PeopleVaccinated_100K"]\
        = vaccine_summary[vaccine_summary.Continent_Name==continent].PeopleVaccinated \
        / population_100K

In [31]:
vaccine_summary[vaccine_summary.date=='2021-03-25']

,date,Continent_Name,CumulativeVaccine,PeopleVaccinated,CumulativeVaccine_100K,PeopleVaccinated_100K
507,2021-03-25,Africa,8318813.0,5243601.0,638.523877,402.481032
508,2021-03-25,Asia,201791348.0,75282472.0,4305.543561,1606.272845
509,2021-03-25,Europe,104917433.0,78373583.0,12138.734632,9067.664915
510,2021-03-25,North America,144733992.0,96967836.0,24727.474797,16566.735206
511,2021-03-25,Oceania,408410.0,0.0,963.276093,0.000000
512,2021-03-25,South America,32372628.0,24149441.0,7580.288637,5654.768998
675,2021-03-25,World,492542624.0,280016933.0,6227.861063,3540.620586

# Calculate
## Covid cases

- Daily cases
- Daily cases per 100K population
- 7-day-average
- 7-day-average per 100K population
- 14-day-average
- 14-day-average per 100K population
- etc.

In [32]:
for country in data.CountryName.unique():
    population_100K = population.loc[country].values / 100000
    # Cases
    data.loc[(data.CountryName==country),"ConfirmedCases_100K"] = data[(data.CountryName==country)]["ConfirmedCases"] / population_100K
    data.loc[(data.CountryName==country),"DailyCases"] = data[(data.CountryName==country)]["ConfirmedCases"].diff()
    data.loc[(data.CountryName==country),"DailyCases_100K"] = data[(data.CountryName==country)]["DailyCases"] / population_100K
    data.loc[(data.CountryName==country),"Average7"] = data[(data.CountryName==country)]["ConfirmedCases"].diff().rolling(7).mean()
    data.loc[(data.CountryName==country),"Average7_100K"] = data[(data.CountryName==country)]["Average7"] / population_100K
    data.loc[(data.CountryName==country),"Average14"] = data[(data.CountryName==country)]["ConfirmedCases"].diff().rolling(14).mean()
    data.loc[(data.CountryName==country),"Average14_100K"] = data[(data.CountryName==country)]["Average14"] / population_100K
    data.loc[(data.CountryName==country),"BiweeklyNormCases"] = data[(data.CountryName==country)]["DailyCases"].rolling(14).sum() / population_100K    
    # Deaths
    data.loc[(data.CountryName==country),"ConfirmedDeaths_100K"] = data[(data.CountryName==country)]["ConfirmedDeaths"] / population_100K
    data.loc[(data.CountryName==country),"DailyDeaths"] = data[(data.CountryName==country)]["ConfirmedDeaths"].diff()
    data.loc[(data.CountryName==country),"BiweeklyNormDeaths"] = data[(data.CountryName==country)]["DailyDeaths"].rolling(14).sum() / population_100K
    # Vaccination
    data.loc[(data.CountryName==country),"CumulativeVaccine_100K"] = data[(data.CountryName==country)]["CumulativeVaccine"] / population_100K
    data.loc[(data.CountryName==country),"PeopleVaccinated_100K"] = data[(data.CountryName==country)]["PeopleVaccinated"] / population_100K
    data.loc[(data.CountryName==country),"BiweeklyNormVaccine"] = data[(data.CountryName==country)]["DailyVaccine"].rolling(14).sum() / population_100K
    # Tests
    data.loc[(data.CountryName==country),"CumulativeTests_100K"] = data[(data.CountryName==country)]["CumulativeTests"] / population_100K
    data.loc[(data.CountryName==country),"BiweeklyNormTests"] = data[(data.CountryName==country)]["DailyTests"].rolling(14).sum() / population_100K

## Relative to world/continent

- Normalized total cases
- Normalized 14-day average cases
- Normalized total deaths 
- Normalized 14-day average death (?)
- Normalized total tests
- Normalized total vaccines
- Normalized total people vaccinated
- Stringency Index
- Economic Support Index

In [26]:
# for country in data.CountryName.unique():
#     continent = data.loc[(data.CountryName==country),"Continent_Name"].max()
#     world = "World"

In [33]:
for continent in data_summary.Continent_Name.unique():
    population_100K = population_summary[population_summary.Continent_Name == continent]["2019"].values / 100000
    
    data_summary.loc[data_summary.Continent_Name==continent, "ConfirmedCases_100K"]\
        = data_summary[data_summary.Continent_Name==continent].ConfirmedCases / population_100K
 
    data_summary.loc[data_summary.Continent_Name==continent, "ConfirmedDeaths_100K"]\
        = data_summary[data_summary.Continent_Name==continent].ConfirmedDeaths / population_100K
    
    data_summary.loc[data_summary.Continent_Name==continent,"Average14_100K"]\
        = data_summary[data_summary.Continent_Name==continent]["ConfirmedCases"].diff().rolling(14).mean() / population_100K

In [34]:
data_summary = pd.merge(data_summary, vaccine_summary, how='left',
                        left_on=["Date","Continent_Name"], right_on=["date","Continent_Name"]
                       ).drop(columns=['date'])
data_summary = pd.merge(data_summary, tests_summary, how='left', on=["Date","Continent_Name"])
data_summary[data_summary.Date=='2021-03-25']

,Date,Continent_Name,ConfirmedCases,ConfirmedDeaths,ContainmentHealthIndexForDisplay,EconomicSupportIndexForDisplay,GovernmentResponseIndexForDisplay,StringencyIndexForDisplay,ConfirmedCases_100K,ConfirmedDeaths_100K,Average14_100K,CumulativeVaccine,PeopleVaccinated,CumulativeVaccine_100K,PeopleVaccinated_100K,CumulativeTests,CumulativeTests_100K
2694,2021-03-25,Africa,4135438.0,110996.0,49.188684,22.697368,45.876842,47.780769,317.422198,8.519677,0.769737,8318813.0,5243601.0,638.523877,402.481032,2.108902e+07,1618.721818
2695,2021-03-25,Asia,31813320.0,512653.0,58.192647,46.691176,56.755294,56.590882,678.788444,10.938278,2.668437,201791348.0,75282472.0,4305.543561,1606.272845,5.566542e+08,11877.113881
2696,2021-03-25,Europe,42145068.0,928062.0,65.995500,57.812500,64.972500,65.022750,4876.099061,107.374895,24.487435,104917433.0,78373583.0,12138.734632,9067.664915,5.621907e+08,65044.330906
2697,2021-03-25,North America,34785985.0,799884.0,60.661875,49.218750,59.231875,59.374375,5943.106768,136.658370,11.839626,144733992.0,96967836.0,24727.474797,16566.735206,4.116593e+08,70331.056338
2698,2021-03-25,Oceania,43709.0,1110.0,37.831429,35.714286,37.567143,36.970000,103.092076,2.618047,0.425559,408410.0,0.0,963.276093,0.000000,1.723915e+07,40660.261006
2699,2021-03-25,South America,20465329.0,529839.0,65.357000,62.500000,64.532000,67.593000,4792.107112,124.065694,25.041422,32372628.0,24149441.0,7580.288637,5654.768998,3.455461e+07,8091.215985
3215,2021-03-25,World,133473021.0,2884355.0,57.785205,44.310345,56.084384,56.702041,1687.674102,36.470675,6.623597,492542624.0,280016933.0,6227.861063,3540.620586,1.603387e+09,20273.720243

In [60]:
columns = ["ConfirmedCases_100K","Average14_100K","ConfirmedDeaths_100K",
           "CumulativeTests_100K","CumulativeVaccine_100K","PeopleVaccinated_100K",
           "StringencyIndexForDisplay", "EconomicSupportIndexForDisplay"]
continent_summary = data_summary[data_summary.Continent_Name != "World"][["Date","Continent_Name"]+columns].copy()
continent_summary.columns = ["Date","Continent_Name"]+[col+"_c" for col in columns]
data = pd.merge(data, continent_summary, how='left')
for column in columns:
    data[column+"_delta_cont"] = data[column+"_c"] / data[column] - 1
data = data.drop(columns=[col+"_c" for col in columns])

world_summary = data_summary[data_summary.Continent_Name == "World"][["Date"]+columns].copy()
world_summary.columns = ["Date"]+[col+"_W" for col in columns]
data = pd.merge(data, world_summary, how='left')
for column in columns:
    data[column+"_delta_world"] = data[column+"_W"] / data[column] - 1
data = data.drop(columns=[col+"_W" for col in columns])

data

,CountryName,CountryCode,Continent_Name,Date,ConfirmedCases,ConfirmedDeaths,C1_School closing,C2_Workplace closing,C3_Cancel public events,C4_Restrictions on gatherings,...,StringencyIndexForDisplay_delta_cont,EconomicSupportIndexForDisplay_delta_cont,ConfirmedCases_100K_delta_world,Average14_100K_delta_world,ConfirmedDeaths_100K_delta_world,CumulativeTests_100K_delta_world,CumulativeVaccine_100K_delta_world,PeopleVaccinated_100K_delta_world,StringencyIndexForDisplay_delta_world,EconomicSupportIndexForDisplay_delta_world
0,Aruba,ABW,North America,2020-01-01,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
1,Aruba,ABW,North America,2020-01-02,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
2,Aruba,ABW,North America,2020-01-03,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
3,Aruba,ABW,North America,2020-01-04,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
4,Aruba,ABW,North America,2020-01-05,NaN,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85967,Zimbabwe,ZWE,Africa,2021-04-01,36896.0,1523.0,1.0,2.0,2.0,3.0,...,0.049728,inf,5.921202,53.324322,2.598973,2.787567,9.538759,5.801738,0.227115,inf
85968,Zimbabwe,ZWE,Africa,2021-04-02,36903.0,1524.0,1.0,2.0,2.0,3.0,...,0.049728,inf,5.954174,61.353486,2.609634,NaN,8.388883,5.135191,0.227956,inf
85969,Zimbabwe,ZWE,Africa,2021-04-03,36911.0,1524.0,1.0,2.0,2.0,3.0,...,0.049728,inf,5.982146,62.286490,2.620495,NaN,7.695073,4.597874,0.229851,inf
85970,Zimbabwe,ZWE,Africa,2021-04-04,36923.0,1525.0,1.0,2.0,2.0,3.0,...,0.049728,inf,6.010293,61.173583,2.627079,NaN,NaN,NaN,0.230692,inf
85971,Zimbabwe,ZWE,Africa,2021-04-05,NaN,NaN,NaN,NaN,NaN,NaN,...,0.049728,inf,NaN,NaN,NaN,NaN,NaN,NaN,0.230692,inf

---

In [29]:
columns = ["Continent_Name","ConfirmedCases_100K","Average14_100K","ConfirmedDeaths_100K",
           "CumulativeTests_100K","CumulativeVaccine_100K","PeopleVaccinated_100K",
           "StringencyIndexForDisplay", "EconomicSupportIndexForDisplay"]
data_summary[(data_summary.Date=='2021-03-20') & (data_summary.Continent_Name.isin(['Europe','World']))][columns]

,Continent_Name,ConfirmedCases_100K,Average14_100K,ConfirmedDeaths_100K,CumulativeTests_100K,CumulativeVaccine_100K,PeopleVaccinated_100K,StringencyIndexForDisplay,EconomicSupportIndexForDisplay
2666,Europe,4745.547200,21.981111,105.329586,43288.892399,12068.339472,9062.169377,64.572955,58.238636
3174,World,1652.102892,6.015983,35.865051,15746.275976,5664.314940,3294.279963,56.486630,43.194444

In [30]:
data[(data.Date=='2021-03-20') & (data.CountryName=='Lithuania')][['CountryName']+columns]

,CountryName,Continent_Name,ConfirmedCases_100K,Average14_100K,ConfirmedDeaths_100K,CumulativeTests_100K,CumulativeVaccine_100K,PeopleVaccinated_100K,StringencyIndexForDisplay,EconomicSupportIndexForDisplay
47193,Lithuania,Europe,7486.963748,17.559546,124.29831,81934.080271,14401.990208,9917.275599,63.89,62.5

In [32]:
pd.concat([data_summary[(data_summary.Date=='2021-03-20') & (data_summary.Continent_Name.isin(['Europe','World']))][columns],
           data[(data.Date=='2021-03-20') & (data.CountryName=='Lithuania')][['CountryName']+columns]]
         ).to_csv("LTvsWorld_20210320-2.csv")

# Save to the file

In [33]:
data.to_csv("data/OxCGRT_latest.csv")

In [34]:
data_summary.to_csv("data/summary.csv")